<div class="now-playing">
	<div class="album"></div>
	<div class="info">
		<span class="song">Testing</span>
		<span class="artist">Purity Ring</span>
	</div>
</div>
<div class="controls">
	<div class="buttons">
		<div class="rw"></div>
		<div class="pause"></div>
		<div class="ff"></div>
	</div>
	<div class="progress-bar">
		<span class="current">0:00</span>
		<div class="bar">
			<div class="bar-filled"></div>
			<div class="pointer"></div>
		</div>
		<span class="end">0:00</span>
	</div>
	<div class="audio">
		<div class="icon"></div>
		<div class="bar">
			<div class="bar-filled"></div>
		</div>
		<div class="shuffle"></div>
		<div class="repeat"></div>
	</div>
</div>