	<div class="album"></div>
	<div class="info">
		<% if (typeof id != "undefined") { %>
			<span class="song">
				<%= title %>
			</span>
			<span class="artist">
				<%= artist %>
			</span>
		<% } %>
	</div>