<% if (typeof id != "undefined") { %>
	<div class="album"><img src="<%= image %>"></div>
	<div class="info">
		
			<span class="song">
				<%= title %>
			</span>
			<span class="artist">
				<%= artist %>
			</span>
	</div>
<% } %>