<div class="text">Found <span class="bold songs">4</span> songs, <span class="bold artists">3</span> artists, <span class="bold albums">14</span> albums, and <span class="bold playlists">23</span> playlists</div>
<div class="containers">
	<div class="artists">
		<div class="header">
			<div class="nav-buttons">
				<div class="prev"></div>
				<div class="next"></div>
			</div>
			<span class="title">Artists</span>
			<span class="number">0</span>
		</div>
		<div class="items">
		</div>
	</div>
	<div class="albums">
		<div class="header">
			<div class="nav-buttons">
				<div class="prev"></div>
				<div class="next"></div>
			</div>
			<span class="title">Albums</span>
			<span class="number">0</span>
		</div>
		<div class="items">
		</div>
	</div>
	<div class="playlists">
		<div class="header">
			<div class="nav-buttons">
				<div class="prev"></div>
				<div class="next"></div>
			</div>
			<span class="title">Playlists</span>
			<span class="number">0</span>
		</div>
		<div class="items">
		</div>
	</div>
</div>
<div class="tracks">
</div>