<div class="text">Found <span class="bold">4</span> songs, <span class="bold">3</span> artists, <span class="bold">14</span> albums, and <span class="bold">23</span> playlists</div>
<div class="containers">
	<div class="artists">
		<div class="header">
			<div class="nav-buttons">
				<div class="prev"></div>
				<div class="next"></div>
			</div>
			<span class="title">Artists</span>
			<span class="number">4</span>
		</div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
	</div>
	<div class="albums">
		<div class="header">
			<div class="nav-buttons">
				<div class="prev"></div>
				<div class="next"></div>
			</div>
			<span class="title">Albums</span>
			<span class="number">9</span>
		</div>
		<div class="item"></div>
		<div class="item"></div>
	</div>
	<div class="playlists">
		<div class="header">
			<div class="nav-buttons">
				<div class="prev"></div>
				<div class="next"></div>
			</div>
			<span class="title">Playlists</span>
			<span class="number">8</span>
		</div>
		<div class="item"></div>
	</div>
</div>
<div class="tracks">
	<div data-id="1" class="track" >
		<span class="status"></span>
		<span class="number">1</span>
		<span class="title">Obedear</span>
		<span class="artist">Purity Ring</span>
	</div>
	<div data-id="2" class="track" >
		<span class="status"></span>
		<span class="number">2</span>
		<span class="title">Obedear</span>
		<span class="artist">Purity Ring</span>
	</div>
		<div data-id="3" class="track" >
		<span class="status"></span>
		<span class="number">3</span>
		<span class="title">Obedear</span>
		<span class="artist">Purity Ring</span>
	</div>
	<div data-id="4" class="track" >
		<span class="status"></span>
		<span class="number">4</span>
		<span class="title">Obedear</span>
		<span class="artist">Purity Ring</span>
	</div>
		<div data-id="5" class="track" >
		<span class="status"></span>
		<span class="number">5</span>
		<span class="title">Obedear</span>
		<span class="artist">Purity Ring</span>
	</div>
	<div data-id="6" class="track" >
		<span class="status"></span>
		<span class="number">7</span>
		<span class="title">Obedear</span>
		<span class="artist">Purity Ring</span>
	</div>
	<div data-id="7" class="track" >
		<span class="status"></span>
		<span class="number">8</span>
		<span class="title">Obedear</span>
		<span class="artist">Purity Ring</span>
	</div>
	<div data-id="8" class="track" >
		<span class="status"></span>
		<span class="number">8</span>
		<span class="title">Obedear</span>
		<span class="artist">Purity Ring</span>
	</div>
</div>