<div class="searched_song">
	<div class="search_image"></div> 
	<div class="search_info">
		<span class="search_title"><%= title %></span>
		<span class="search_artist"><%= artist %>
		<span class="search_url"><%= url %></span>
	</div>
</div>

