<div class="searched_song">
	<div class="search_image"><img src=<%=image%>></div> 
	<div class="search_info">
		<span class="search_title"><%= title %></span></br>
		<span class="search_artist"><%= artist %></span></br>
		<span class="search_url"><%= url %></span>
	</div>
</div>

