<div class="fb-image"><img src="http://graph.facebook.com/<%= inviter_uid %>/picture?type=square" \>​​​​​​​​​​​​​​​​​​</div>
<span class="pl_name"><%= playlist_name %></span>
<span class="inviter"><%= inviter_name %></span>