<li class="active">
	<span>Playlist 1</span>
	<div class="num">3</div>
</li>
<li>
	<span>Old Hip-Hop</span>
	<div class="num">12</div>
</li>
<li>
	<span>Playlist 3</span>
	<div class="num">5</div>
</li>