<div data-id="<%= song.escape("id") %>" class="footer" >
	<span class="status"></span>
	<span class="number"><%= index + 1 %></span>
	<span class="title"><%= song.escape("title") %></span>
	<span class="artist"><%= song.escape("artist") %></span>
</div>
