/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 
*/

@import "bootstrap";
@import "compass";

// Layout CSS
html, body {
    height: 100%;
}

.fill { 
    height: 100%;
}

.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 210px; /* width of sidebar */
    height: 100%;
}

.left {
    float:left;
    padding-right: 10px;
    border-right: 1px solid black;
    
}

.right {
    float:right;
    padding-left: 10px;
    border-left: 1px solid black;
}

.container-fluid > .content {
    margin: 0 240px; /* width of sidebars + 10px of margin */
    padding-top: 15px;
    
}

.content .row .span2 {
	background: grey;
	height: 150px;
}