/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 
*/

@import "bootstrap";
@import "compass";
@import "compass/css3";
@import "retina";
//@import "compass/layout/sticky-footer";

// Layout CSS

#top {
	position: absolute;
	height: 40px;
	top: 0;
	width: 100%;
    @include background(linear-gradient(top, #444444, #313131));
    //@include single-box-shadow(#232323, 0, 1px, 8px, 1px);
    border-bottom: 1px solid #232323;
    z-index: 6;
}

#top .fb-image {
	float: left;
	margin: 0px 8px 5px 5px;
	width: 35px;
	height: 35px;

	@include border-radius(3px); 
	overflow: hidden;
}

#top .invites-button {
	cursor: pointer;
	position: absolute;
	left: 165px;
	top: 7px;
	width: 25px; 
	height: 25px;
	@include border-radius(2px); 
	@include background(linear-gradient(top, #A3A3A3, #7A7A7A));
	box-shadow: 0 1px 0 #6B6B6B, inset 0 1px 0 #969696;
}

#top .invites-button:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	@include border-radius(6px); 
	background: white;
	top: 10px;
	left: 9px;
}

#top .invites-button:active {

	@include background(linear-gradient(top, #7A7A7A, #A3A3A3));
}	

#top .invites-container {
	display: none;
	position: absolute;
	left: 70px;
	top: 45px;
	width: 220px;
	background: #EBEBEB;
	@include border-radius(2px); 
	@include single-box-shadow(#232323, 0, 1px, 15px, 2px);
	color: #4D4D4D;
}

#top .invites-container:after {
	content: '';
	position: absolute;
	top: -8px;
	left: 100px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #DBDBDB;
}

#top .invites-container .title {
	height: 22px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
	font-weight: bold;
	padding-top: 5px;
	border-bottom: 1px solid #C2C2C2;
	@include background(linear-gradient(top, #DBDBDB, #DBDBDB));
	@include border-radius(2px 2px 0px 0px); 

}

#top .invites-container .single-invite:nth-child(n+2) {
	border-top: 1px solid #CFCFCF;
}

#top .invites-container .single-invite {
	padding: 5px;
	cursor: pointer;
}

#top .invites-container .single-invite .pl_name {
	display: block;
	font-weight: bold;
}

#top .invites-container .single-invite .inviter {
	display: block;
	width: 150px;
	height: auto;
	text-overflow: ellipsis;
	overflow: hidden;
}

#top .invites-container .single-invite .accepted {
	display: block;
	text-align: center;
	padding: 4px;
}



#top .logo {
	width: 100px;
	height: 15px;
	color: white;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	margin: 0px auto;
	position: relative;
	top: 10px;
}

#mid {
	position: absolute;
	top: 40px;
	bottom: 45px;
	width: 100%;
}






// Left sidebar

#left {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 190px;
    @include background(linear-gradient(top, #363944, #494d5b));
    border-right: 2px solid #242839;
    border-left: 2px solid #242839;
    z-index: 5;
    overflow: auto;
}

#left section {
	padding-bottom: 6px;
	border-bottom: 1px solid #242839;
	
    @include background(linear-gradient(bottom, #363944, #414551));
}

#left section header {
	position: relative;
	padding: 6px 0px 4px 0px;
	width: 100%;
	color: #818aa3;
}

#left section header span {
	padding-left: 10px;
	@include text-shadow(0px 0px 3px rgba(255,255,255,.12));
}

#left section header .options {
	position: absolute;
	right: 4px;
	top: 7px;
	@include background-image-retina('options_icon.png');
	height: 15px;
	width: 15px; 
} 


#left section ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

#left section ul li {
	cursor: pointer;
	position: relative;
	color: #93d1ea;
	padding: 3px 0px 3px 30px;

    //@include background(linear-gradient(bottom, #363944, #414551));
}

#left section ul li.active {
	
    @include background(linear-gradient(top, #292c34, #18191e));
}


#left section ul li .num {
	color: #d7f4ff;
	font-family: Arial;
	font-size: 11px;
	position: absolute;
	top: 2px;
	right: 3px;
	padding: 1px 6px 0 6px;
	@include border-radius(2px); 
	//@include box-shadow(rgba(54, 57, 70, 1) 0px -1px 1px 1px inset);
	@include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(37, 39, 50, 0.8) 0 1px 1px 1px inset);
	background: #4b5063;
}

#left section ul li span {
	position: relative;
}


#left section.members ul li:before {
	content: '';
	position: absolute;
	@include background-image-retina('member_icon.png');
	width: 14px;
	height: 15px;
	left:11px;
}

#left section.music ul li span:before, #left section.playlists ul li span:before {
	content: '';
	position: absolute;
	@include background-image-retina('music_icon.png');
	width: 13px;
	height: 17px;
	left:-18px;
}

#left section.playlists a {
	display: block;
	padding-top: 4px;
	margin-left: 30px;
}

#left section.playlists input {
	position: relative;
	top: -1px;
	width: 100px;
	height: 15px;
	padding: 0;
	margin: 0;
}

#left section .delete-button {
	position: absolute;
	width: 15px;
	height: 15px;
	@include background-image-retina('delete.png');
	top: 4px;
	left: -10px;
}

#left section.playlists .ui-state-hover {
	background: #596580;
}

// Right sidebar



#right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 190px;
    @include background(linear-gradient(top, #363944, #494d5b));
    color: white;
}

#right .fb-image {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 30px;
	height: 30px;
}

.fb-image-container {
	padding: 8px;
	width: 100%;
}

.num-subscribers {
	margin-left: 3px;
	margin-bottom: 4px;
	font-size: 11px;
	font-family: Arial;
}

.add-subscriber {
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-bottom: 5px;
	background: grey;
}

#friendsearch {
	width: 125px;
	height: 12px;
}

/*!
 * jQuery UI Autocomplete 1.8.22
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete {
		max-height: 450px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 100px;
	}
/*
 * jQuery UI Menu 1.8.22
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}


// Center

#center {
	position: absolute;
	color: white;
	left: 190px;
	right: 190px;
	min-width: 300px;
	top: 0;
	bottom: 0;
    background: #1a1a1a;
    overflow: auto;
    padding: 10px;
}


#center .album {
	position: relative;
	margin: 16px 0 0 20px;
	float: left;
	width: 160px;
	height: 160px;
	//@include background-image-retina('album.png');	
	//border: 1px solid rgba(255,255,255,0.3);
	@include border-radius(6px); 
	border: 1px solid #6b6b6b;
	overflow: hidden;
}

#center .album .footer, .draggable-song {
	font-family: Arial;
	font-size: 11px;
	width: 139px;
	margin: 0px auto;
	padding: 3px 5px 3px 0px;
	background: rgba(60, 60, 60, .9);
	color: rgba(225,225,225, 0.8);
	position: absolute;
	bottom: 8px;
	left: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
	@include border-radius(3px); 

}

#center .album .loading {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 70px;
	top: 60px;
	@include background-image-retina('ajax-loader.gif');
}

#center .album img {

	@include border-radius(6px); 
}

#center .album .play {
	cursor: pointer;
	position: absolute;
	top: 35px;
	left: 45px;
	width: 65px;
	height: 65px;
	@include background-image-retina('play.png');
}

#center .album .stop {
	cursor: pointer;
	position: absolute;
	top: 35px;
	left: 45px;
	width: 65px;
	height: 65px;
	@include background-image-retina('stop.png');
}

#center .album .delete {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 10px;
	top: 7px;
	width: 18px;
	height: 18px;
	background: rgba(60, 60, 60, .9);
	color: white;
	opacity: 1;
	@include border-radius(2px); 
}

#center .album .heart {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 7px;
	width: 18px;
	height: 18px;
	background: rgba(60, 60, 60, .9);
	color: white;
	opacity: 1;
	@include background-image-retina('heart.png');
	@include border-radius(2px); 
}

#center .album .love {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 7px;
	width: 18px;
	height: 18px;
	background: rgba(60, 60, 60, .9);
	color: white;
	@include background-image-retina('love.png');
	@include border-radius(2px); 

}

#center .album .move {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 35px;
	top: 7px;
	width: 18px;
	height: 18px;
	@include border-radius(2px);
	background: rgba(60, 60, 60, .9);

}

#center .album .buy {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 35px;
	top: 7px;
	width: 18px;
	height: 18px;
	@include border-radius(2px);
	background: rgba(60, 60, 60, .9);
}


#center .album .footer span.title, .draggable-song span.title {
	color: rgba(225,225,225, 1);
}

#center .album .footer .number, .draggable-song .number {
	margin-left: 5px;
	margin-right: 3px;
	padding: 2px 5px 2px 5px;
	background: rgba(190,190,190,0.4);
	color: white;
	opacity: 1;
	@include border-radius(2px); 
}

#center .sortable-placeholder {
	border: 1px dashed white;
	opacity: 0.5;
	@include border-radius(6px); 
	position: relative;
	margin: 16px 0 0 20px;
	float: left;
	width: 160px;
	height: 160px;
}

// Bottom footer

#bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	background: #2d2e3a;
	border-top: 1px solid #232323;
    z-index: 5;
}

#bottom .now-playing {
	position: absolute;
	left: 6px;
	top: 3px;
	width: 186px;
	height: 36px;
	
	@include border-radius(3px); 
    @include background(linear-gradient(bottom, #363944, #414551));
	@include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(37, 39, 50, 0.8) 0 1px 1px 1px inset);
}


#bottom .now-playing .album {
	position: absolute;
	left: 6px;
	top: 6px;
	width: 26px;
	height: 26px;
	@include background-image-retina('album-small.png');
	@include border-radius(2px); 
}


#bottom .info {
	font-family: Arial;
	position: absolute;
	top: 4px;
	left: 38px;
	color: #e4e4e4;
	font-size: 9px;
	letter-spacing: 1px;
}

#bottom .info span {
	display: block;
	height: 12px;
}

#bottom .info span.artist {
	font-weight: bold;
}

#bottom .controls {
	position: absolute;
	left: 192px;
	right: 0;
	height: 100%;
}

#bottom .controls .buttons {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 100%;
}

#bottom .controls .buttons .rw {
	position: absolute;
	left: 20px;
	top: 17px;
	height: 11px;
	width:9px;
	@include background-image-retina('rw.png');
}

#bottom .controls .buttons .pause {
	position: absolute;
	left: 44px;
	top: 12px;
	height: 19px;
	width: 11px;
	@include background-image-retina('pause.png');
}

#bottom .controls .buttons .ff {
	position: absolute;
	left: 70px;
	top: 17px;
	height: 11px;
	width:9px;
	@include background-image-retina('ff.png');
}

#bottom .controls .progress-bar {
	left: 108px;
	right: 205px;
	top: 0;
	position: absolute;
	height: 100%;
}

#bottom .controls .progress-bar .bar {
	position: absolute;
	left: 35px;
	right: 35px;
	top: 20px;
	height: 7px;
	background: #3c3e48;
	@include border-radius(3px);
}


#bottom .controls .progress-bar .bar-filled {
	position: absolute;
	left: 0;
	height: 7px;
	width: 42%;
    @include background(linear-gradient(top, #b3f0c9, #64d9dc));
	@include border-radius(3px);
}

#bottom .controls .progress-bar span.current {
	font-size: 11px;
	position: absolute;
	display: block;
	left: 0;
	top: 14px;
	color: white;
}

#bottom .controls .progress-bar span.end {
	font-size: 11px;
	position: absolute;
	display: block;
	right: 0;
	top: 14px;
	color: white;
}

#bottom .controls .audio {
	right: 0;
	top: 0;
	position: absolute;
	height: 100%;
	width: 190px;
}

#bottom .controls .audio .icon {
	position: absolute;
	left: 15px;
	top: 18px;
	width: 13px;
	height: 10px;
	@include background-image-retina('audio.png');
}

#bottom .controls .audio .bar {
	position: absolute;
	left: 35px;
	right: 75px;
	top: 20px;
	height: 7px;
	background: #3c3e48;
	@include border-radius(3px);
}

#bottom .controls .audio .bar-filled {
	position: absolute;
	left: 0;
	height: 7px;
	width: 42%;
    @include background(linear-gradient(top, #b5c5ce, #e4f2f9));
	@include border-radius(3px);
}

#bottom .controls .audio .shuffle {
	position: absolute;
	right: 40px;
	top: 18px;
	height: 10px;
	width: 13px;
	@include background-image-retina('shuffle.png');
}

#bottom .controls .audio .repeat {
	position: absolute;
	right: 15px;
	top: 16px;
	height: 13px;
	width: 13px; 
	@include background-image-retina('repeat.png');
}





