/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 
*/

@import "bootstrap";
@import "compass";
@import "compass/css3";
@import "retina";
//@import "compass/layout/sticky-footer";

// Layout CSS

#top {
	position: absolute;
	height: 40px;
	top: 0;
	width: 100%;
    @include background(linear-gradient(top, #444444, #313131));
    //@include single-box-shadow(#232323, 0, 1px, 8px, 1px);
    border-bottom: 1px solid #232323;
    z-index: 6;
}

#mid {
	position: absolute;
	top: 40px;
	bottom: 45px;
	width: 100%;
}






// Left sidebar

#left {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 190px;
    @include background(linear-gradient(top, #363944, #494d5b));
    border-right: 2px solid #242839;
    border-left: 2px solid #242839;
    z-index: 5;
}

#left section {
	padding-bottom: 6px;
	border-bottom: 1px solid #242839;
	
    @include background(linear-gradient(bottom, #363944, #414551));
}

#left section header {
	position: relative;
	padding: 6px 0px 4px 0px;
	width: 100%;
	color: #818aa3;
}

#left section header span {
	padding-left: 10px;
	@include text-shadow(0px 0px 3px rgba(255,255,255,.12));
}

#left section header .options {
	position: absolute;
	right: 4px;
	top: 7px;
	@include background-image-retina('options_icon.png');
	height: 15px;
	width: 15px; 
} 


#left section ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

#left section ul li {
	cursor: pointer;
	position: relative;
	color: #93d1ea;
	padding: 3px 0px 3px 30px;
}

#left section ul li.active {
	
    @include background(linear-gradient(top, #292c34, #18191e));
}


#left section ul li .num {
	color: #d7f4ff;
	font-family: Arial;
	font-size: 11px;
	position: absolute;
	top: 2px;
	right: 3px;
	padding: 1px 6px 0 6px;
	@include border-radius(2px); 
	//@include box-shadow(rgba(54, 57, 70, 1) 0px -1px 1px 1px inset);
	@include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(37, 39, 50, 0.8) 0 1px 1px 1px inset);
	background: #4b5063;
}


#left section.members ul li:before {
	content: '';
	position: absolute;
	@include background-image-retina('member_icon.png');
	width: 14px;
	height: 15px;
	left:11px;
}

#left section.music ul li:before, #left section.playlists ul li:before {
	content: '';
	position: absolute;
	@include background-image-retina('music_icon.png');
	width: 13px;
	height: 17px;
	left:11px;
}

#left section.playlists a {
	display: block;
	padding-top: 4px;
	margin-left: 30px;
}

#left section.playlists input {
	position: relative;
	top: -1px;
	width: 100px;
	height: 15px;
	padding: 0;
	margin: 0;
}

// Right sidebar



#right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 190px;
    @include background(linear-gradient(top, #363944, #494d5b));
}


// Center

#center {
	position: absolute;
	color: white;
	left: 190px;
	right: 190px;
	min-width: 300px;
	top: 0;
	bottom: 0;
    background: #1a1a1a;
    overflow: auto;
    padding: 10px;
}


#center .album {
	position: relative;
	margin: 16px 0 0 20px;
	float: left;
	width: 160px;
	height: 160px;
	@include background-image-retina('album.png');	
	//border: 1px solid rgba(255,255,255,0.3);
	@include border-radius(6px); 
}

#center .album footer {
	display: none;
}


// Bottom footer

#bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	background: #2d2e3a;
	border-top: 1px solid #232323;
    z-index: 5;
}

#bottom .now-playing {
	position: absolute;
	left: 6px;
	top: 3px;
	width: 186px;
	height: 36px;
	
	@include border-radius(3px); 
    @include background(linear-gradient(bottom, #363944, #414551));
	@include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(37, 39, 50, 0.8) 0 1px 1px 1px inset);
}


#bottom .now-playing .album {
	position: absolute;
	left: 6px;
	top: 6px;
	width: 26px;
	height: 26px;
	@include background-image-retina('album-small.png');
	@include border-radius(2px); 
}


#bottom .info {
	font-family: Arial;
	position: absolute;
	top: 4px;
	left: 38px;
	color: #e4e4e4;
	font-size: 9px;
	letter-spacing: 1px;
}

#bottom .info span {
	display: block;
	height: 12px;
}

#bottom .info span.artist {
	font-weight: bold;
}

#bottom .controls {
	position: absolute;
	left: 192px;
	right: 0;
	height: 100%;
}

#bottom .controls .buttons {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 100%;
}

#bottom .controls .buttons .rw {
	position: absolute;
	left: 20px;
	top: 17px;
	height: 11px;
	width:9px;
	@include background-image-retina('rw.png');
}

#bottom .controls .buttons .pause {
	position: absolute;
	left: 44px;
	top: 12px;
	height: 19px;
	width: 11px;
	@include background-image-retina('pause.png');
}

#bottom .controls .buttons .ff {
	position: absolute;
	left: 70px;
	top: 17px;
	height: 11px;
	width:9px;
	@include background-image-retina('ff.png');
}

#bottom .controls .progress-bar {
	left: 108px;
	right: 205px;
	top: 0;
	position: absolute;
	height: 100%;
}

#bottom .controls .progress-bar .bar {
	position: absolute;
	left: 35px;
	right: 35px;
	top: 20px;
	height: 7px;
	background: #3c3e48;
	@include border-radius(3px);
}


#bottom .controls .progress-bar .bar-filled {
	position: absolute;
	left: 0;
	height: 7px;
	width: 42%;
    @include background(linear-gradient(top, #b3f0c9, #64d9dc));
	@include border-radius(3px);
}

#bottom .controls .progress-bar span.current {
	font-size: 11px;
	position: absolute;
	display: block;
	left: 0;
	top: 14px;
	color: white;
}

#bottom .controls .progress-bar span.end {
	font-size: 11px;
	position: absolute;
	display: block;
	right: 0;
	top: 14px;
	color: white;
}

#bottom .controls .audio {
	right: 0;
	top: 0;
	position: absolute;
	height: 100%;
	width: 190px;
}

#bottom .controls .audio .icon {
	position: absolute;
	left: 15px;
	top: 18px;
	width: 13px;
	height: 10px;
	@include background-image-retina('audio.png');
}

#bottom .controls .audio .bar {
	position: absolute;
	left: 35px;
	right: 75px;
	top: 20px;
	height: 7px;
	background: #3c3e48;
	@include border-radius(3px);
}

#bottom .controls .audio .bar-filled {
	position: absolute;
	left: 0;
	height: 7px;
	width: 42%;
    @include background(linear-gradient(top, #b5c5ce, #e4f2f9));
	@include border-radius(3px);
}

#bottom .controls .audio .shuffle {
	position: absolute;
	right: 40px;
	top: 18px;
	height: 10px;
	width: 13px;
	@include background-image-retina('shuffle.png');
}

#bottom .controls .audio .repeat {
	position: absolute;
	right: 15px;
	top: 16px;
	height: 13px;
	width: 13px; 
	@include background-image-retina('repeat.png');
}





