<!DOCTYPE html>
<html>
<head>
  <title>Syncd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container-fluid fill">
  <div class="sidebar left">
    Sidebar left 
  </div>
  <div class="sidebar right">
    Sidebar right
  </div> 
  <div class="content fixed-fixed">
    <div class="row">  <!-- Need to look into how to properly dynamically render layout and number of songs. Thinking of using a pinterest-type reorganization here -->
	  <div class="span2">...</div>
	  <div class="span2">...</div>
	  <div class="span2">...</div>
	  <div class="span2">...</div>
	</div>
  </div>
</div>

</body>
</html>

<%= yield %>