<!DOCTYPE html>
<html>
<head>
  <title>Syncd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
</head>
<body style="overflow: hidden">

<%= yield %>




</body>
</html>
