<!DOCTYPE html>
<html>
<head>
  <title>Syncd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top"></div>
<div id="mid">
	<div id="left">
		<section class="music">
			<header>
				<span>Syncd</span>
			</header>
			<article>Music</article>
		</section>
		<section class="playlists">
			<header>
				<span>Playlists</span>
				<div class="options"></span>
			</header>
			<article class="active">
				<span>Playlist 1</span>
				<div class="num">3</div>
			</article>
			<article>
				<span>Playlist 2</span>
				<div class="num">23</div>
			</article>
			<article>
				<span>Playlist 3</span>
				<div class="num">5</div>
			</article>
		</section>
		<section class="members">
			<header>
				<span>Members</span>
				<div class="options"></span>
			</header>
			<article>Max</article>
			<article>Zach</article>
			<article>Sonny</article>
		</section>
	</div>
	<div id="right"></div>
	<div id="center"></div>
</div>
<div id="bottom"></div>


</body>
</html>

<%= yield %>