<!DOCTYPE html>
<html>
<head>
  <title>Syncd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top"></div>
<div id="mid">
	<div id="left">
		<section class="music">
			<header>
				<span>Syncd</span>
			</header>
			<ul>
				<li>Music</li>				
			</ul>
		</section>
		<section class="playlists">
			<header>
				<span>Playlists</span>
				<div class="options"></span>
			</header>
			<ul>
				<li class="active">
					<span>Playlist 1</span>
					<div class="num">3</div>
				</li>
				<li>
					<span>Playlist 2</span>
					<div class="num">23</div>
				</li>
				<li>
					<span>Playlist 3</span>
					<div class="num">5</div>
				</li>
		</section>
		<section class="members">
			<header>
				<span>Members</span>
				<div class="options"></span>
			</header>
			<ul>
				<li>Max</li>
				<li>Zach</li>
				<li>Sonny</li>
			</ul>
		</section>
	</div>
	<div id="right"></div>
	<div id="center"></div>
</div>
<div id="bottom"></div>


</body>
</html>

<%= yield %>